
  
  /* .poster{
    max-height: 100px;

  } */

  .containerDisp{
    /* width: 900px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 30px;
    height: auto;
    border-radius: 10px;
    background-color: rgb(246, 246, 254); */

   
  
    
}

.iterator{
    width:800px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    border-radius: 10px;
    background-color: rgb(246, 246, 254);
}


.loading{
  color: aliceblue;
  font-size: 30px;
  font-weight: 90px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

select option {
  font-size: 16px;
}
