.containerNav{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
    width: 1300px;
    height: auto;
    padding-bottom: 30px;
}

.containerNav nav {
    display:flex; /* 1 */
    justify-content: space-between; 
    padding: 1rem 2rem; /* 3 */
    background-color:  #3c0080; /* 4 */
    list-style: none;
    
  }

  .containerNav h1{
    color: aliceblue;
}

.button{
    background-color:#2c2922;
    border-radius: 4px;
    margin: 10px;
    border: none;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    color: aliceblue;
  }
  
  .button.clicked{
    background-color:rgb(222, 10, 144);
    border-radius: 4px;
    margin: 5px;
    border: none;
  }

  /* .containerNav input {
    padding-left: 1rem; /* 7! */
    /* color: aliceblue;

  } */ 

  .input{
    margin-left: 800px;
    font-size: 13px;
  }

  .input-btn{
    margin-left: 1000px;
    font-size: 13px;
  }
 
    